<footer class="contact-band">
  <div class="wide-wrap">
    <div class="foot-row">
      <a class="brand" href="{{ site.url }}/">
        <img src="{{ site.url }}/assets/img/hoonlab_logo.png" alt="Hoon Bio Lab" />
        <span class="brand-text"><strong>Hoon Bio Lab</strong></span>
      </a>
      <ul class="foot-links">
        <li><a href="{{ site.url }}/docs/recent-news/">News</a></li>
        <li><a href="{{ site.url }}/docs/team/">Team</a></li>
        <li><a href="{{ site.url }}/docs/research/">Research</a></li>
        <li><a href="{{ site.url }}/docs/publication/">Publications</a></li>
        <li><a href="{{ site.url }}/#contact">Contact</a></li>
      </ul>
      <span>&copy; 2026 Hoon Bio Lab, SKKU.</span>
    </div>
  </div>
</footer>
